{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Simple Test Application</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        {% if form %}
        <p>Please tell me your name</p>
        <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.name, form_type="inline") }}
        </form>
        {% else %}
        <p>Pleased to meet you, {{ name }}!</p>
        {% endif %}

    </div>
    <div class="col-md-4">
        <p>I've seen these people before</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Time</td>
                </tr>
            </thead>
            <tbody>
                {% for person in history %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ moment(person.time).format('LLL') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}